$white: #fff;
$black:#1B1C21;
$highlights:#B8FFEC;
$highlights-bright:#41F6D7;
$sky:#D9FFF5;
$gray:#7E7E82;
$softgray:#F8F8F8;
$design:#EAEAEA;
$opasitygray:#7e7e825d;
$formtext: #B5B6BC;
$pink: #FF3E79;